<template name="_tabs">
    {{#if isAndroid}}
        {{#ionTabs style="android"}}
            {{> ionTab title="Calendar" path="listeners" icon="android-search"}}
            {{> ionTab title="Accounts" path="messages" icon="android-chat"}}
            {{> ionTab title="Budgets" path="account" icon="android-person"}}
            {{> ionTab title="Charts" path="account" icon="android-person"}}
        {{/ionTabs}}
    {{else}}
        {{#ionTabs style="ios"}}
            {{> ionTab title="Calendar" path="listeners" iconOff="ios-search" iconOn="ios-search" class="tab-item-balanced"}}
            {{> ionTab title="Accounts" path="messages" iconOff="chatboxes" iconOn="chatboxes" class="tab-item-balanced"}}
            {{> ionTab title="Budgets" path="account" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-balanced"}}
            {{> ionTab title="Charts" path="account" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-balanced"}}
        {{/ionTabs}}
    {{/if}}
</template>